.formulario {
  border-radius: 25px;
  border: 2px solid var(--teal);
  padding: 18px;
}

.formulario::placeholder{
  color: #A5A1A1;
}

.btn-enviar {
  border-radius: 30px;
  background: var(--orange);
  color: white;
  padding: 20px;
  font-size: 1rem;
}
