.footer {
  background-color: var(--teal);
  color: white;
}

.mapa {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-logo-copyright {
 font-size: 1.3rem;
 font-weight: 600;
 color: white
}
.text-logo-copyright:hover {
  cursor: pointer;
}