.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition: 0.3s; 
}

.image-container:hover img {
    filter: brightness(70%);
    cursor: pointer;
}
