/* Padding para dejar espacio a las flechas */
.swiper-container {
  position: relative;
  width: 100%;
  padding: 0 30px;
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  color: orangered;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  left: -10px;
}

.swiper-button-next {
  right: -10px;
}

.swiper-button-disabled {
  display: none;
  cursor: not-allowed;
}
